.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:3%
}
#product > div.about > div > div.MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-12.MuiGrid-grid-lg-6.css-gk3zbe-MuiGrid-root > div > img{
    width:80%
}
#product > div.about > div > div.MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-6.css-fo1urf-MuiGrid-root > div > img{
    padding-right: 2%;
    padding-left: 2%;
}
#product > div.about > div > div.MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-6.css-fo1urf-MuiGrid-root{
    padding-top: 7%;
    align-self: center;
}
@media only screen and (max-width: 400px) {
    #product > div.about > div > div:nth-child(1) > div > div > div > p.MuiTypography-root.MuiTypography-h2.MuiTypography-alignCenter.MuiTypography-paragraph.css-1s9lh6q-MuiTypography-root{
        font-size:2.75rem
    }
    #product > div.about > div > div:nth-child(1) > div > div > div > p.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.MuiTypography-paragraph.css-99r411-MuiTypography-root{
        font-size:1.25rem
    }
}

