

  .marquee {
    width: 100%;
    padding: 90px 20px;

    text-align: center;
    overflow: hidden;
  }

  .marquee h3 {
    font-size: 94px;
    font-weight: 700;
    text-transform: uppercase;
  }


  .marquee h3 .marquee-title {
    margin-right: 20px;
    float: left;
  }

  .text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
  }


  .marquee {
    display: inline-block;
    width: max-content;

    padding-left: 100%;
    /* show the marquee just outside the paragraph */
    will-change: transform;
    animation: marquee 30s linear infinite;
  }
  
  .marquee:hover {
    animation-play-state: paused
  }
  
  
  @keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
  }