
.OurProduct{
    margin:30% 0%;
    padding: 3% 0%;
    background-image:linear-gradient(to right, #cd7c7c9f, #e57373, #cd7c7c9f) ;

}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    display: flex;
    justify-content: center;
    margin-bottom:10px;

}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos]{
    display: flex;
    justify-content: center;
}
.imgMedia{
    height:350px
}
.product-header{
    color: white;
    font-weight: 800 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: under;
}