.paymentForm{
    width: 20%;
    padding-left: 20%;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date{
    width: 120%;
}
.agreetearms{
    display: flex;
    padding-left: 25%;
}