.paymentForm{
    width: 20%;
    padding-left: 20%;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fields{
    width: 100%;
}