.Home-reviews{
  display: flex;
  justify-content: center;
}

.comlete {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top:5px;
  max-width: fit-content;
}
/* .comlete {
  display: flex;
  padding-bottom: 5%;
}

.Home-reviews {
  padding-top: 10px;
}
.MuiButtonBase-root {
  position: absolute;
}

#root > div > div > div > span > div > div > div > div:nth-child(1) {
  display: flex;
  justify-content: center;
}
#root > div > div > div > span > div > div > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 900px) {
  #root > div > div > div > span > div > div > div > div:nth-child(1) {
    padding: 0;
  }
}
@media only screen and (max-width: 500px) {
  #root
    > div
    > div
    > div
    > span
    > div
    > div
    > div
    > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1e6jbaj-MuiGrid-root
    > div
    > div {
    width: 90%;
  }
  #root
    > div
    > div
    > div
    > span
    > div
    > div
    > div
    > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1e6jbaj-MuiGrid-root
    > div {
    margin-right: -40px;
  }
  #root
    > div
    > div
    > div
    > span
    > div
    > div
    > div
    > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1e6jbaj-MuiGrid-root
    > div
    > div
    > div
    > p {
    font-size: 0.55rem;
  }
  #root
    > div
    > div
    > div
    > span
    > div
    > div
    > div
    > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1e6jbaj-MuiGrid-root
    > div
    > div
    > div
    > div {
      font-size: 14px;
  }
  #root
    > div
    > div
    > div
    > span
    > div
    > div
    > div
    > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-6.MuiGrid-grid-lg-4.css-1e6jbaj-MuiGrid-root
    > div
    > div {
    padding: 4px;
  }
} */
