.css-1l4w6pd {
  padding: 15px;
  background-image: linear-gradient(to right, white, #f8f8f8);
  opacity: 0.7;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.css-1l4w6pd:hover {
  opacity: 1;
  transform: scale(1.05);
}
.album-image {
  width: 250px;
  height: 225px;
  display: flex;
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .css-1l4w6pd {
    opacity: 1;
  }
  .album-image {
width: 400px;
  }
}
