.LeaveDetailsForm {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgba(29, 180, 180, 0);
}
.LeaveDetailsSection {
  background-image: linear-gradient(to bottom, white, #e57373);
  display: flex;
  justify-content: center;
  height: 80vh;
}
.css-1lhue4c-MuiPaper-root-MuiGrid-root {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
#contact > div > div > main > div > div.buttomC > div:nth-child(2) > h1 {
  padding-top: 9%;
  font-weight: 600;
}

.cf7-main-title {
  margin-bottom: 26px;
}
.text {
  color: #0a0018;
}
.auto {
  margin: auto;
}
.l-1 {
  z-index: 10;
}
.line-2h5 {
  line-height: 2.5;
}
.font-22 {
  font-size: 22px;
}
.space-55 {
  letter-spacing: 0.55px;
}
.fit {
  width: fit-content;
  padding-right: 17vw;
}
.ltr {
  direction: ltr;
}
.bolder {
  font-weight: 800;
}
.gilroy {
  font-family: gilroy, sans-serif;
}
.pos-rel {
  position: relative;
}
.allC {
  display: flex;
  flex-direction: column;
}

.buttomC {
  display: flex;
  justify-content: space-around;
}

.AboutMe {
  display: flex;
}
.abutMeD {
  display: flex;
}
.cf-contact {
  margin-top: 77px;
  padding-bottom: 108px;
  max-width: 510px;
}
.sblack {
  color: #111;
}
.narkiss {
  font-family: narkissblock, sans-serif;
}
.rtl {
  direction: rtl;
}
#contact-header {
  z-index: 3 !important;
  padding: 0;
}
.css-1h12qnz {
  padding-top: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 730px) {
  #contact > div > div > main > div > div.buttomC > div:nth-child(2) > h1 {
    display: none;
  }
  .contact-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .buttomC {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 400px){
  #contact-header{
  font-size: 1rem;
}
}
