#root > div > header {
  position: fixed;
  z-index: 4;
}
.css-1t6c9ts {
  justify-content: center;
}
#root > div > header > div > div > div.MuiBox-root.css-16pm72g {
  justify-content: left;
}
.header {
  transition: 0.3s ease-in-out;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0) !important;
}
.headerbg {
  transition: 0.3s ease-in-out;
  background-color: #e57373;
}
