#root > div > div.MuiBox-root.css-k008qs > nav.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1c7v4pa-MuiPaper-root-MuiAppBar-root > div > div.MuiTypography-root.MuiTypography-h6.css-p7bec2-MuiTypography-root{
    text-align: left;
}
.css-hyum1k-MuiToolbar-root{
    padding-left: 50px;
    padding-right: 50px;
}