.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: #e57373;
}
.calender{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 5% 
}
.calender-container{
  width:90vw;
  height:100vh;
  position: inherit;
  z-index: -1;
}
@media only screen and (max-width: 900px){
  #root > div > div > div > div > div > div.rbc-toolbar{
    display: none;
  }
  .calender{
    margin-top: 9%;
  }
}
@media only screen and (max-width: 750px){
  .calender{
    margin-top: 15%;
  }
}
@media only screen and (max-width: 450px){
  .calender{
    margin-top: 30%;
  }
}